Modul eFORM/Integračný manuál eFORM/WSDL služieb publikovaných na Externej zbernici/XSD GetRelatedDocumentList/GetRelatedDocumentList_OUT.XSD

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetRelatedDocumentListRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelatedDocuments" nillable="true" type="tns:ArrayOfRelatedDocumentMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRelatedDocumentListRes" nillable="true" type="tns:GetRelatedDocumentListRes" />
  <xs:complexType name="ArrayOfRelatedDocumentMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedDocumentMetaData" nillable="true" type="tns:RelatedDocumentMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelatedDocumentMetaData" nillable="true" type="tns:ArrayOfRelatedDocumentMetaData" />
  <xs:complexType name="RelatedDocumentMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedDocumentMetaData" nillable="true" type="tns:RelatedDocumentMetaData" />
</xs:schema>