Integračný manuál eFORM/Export schém modulu eForm publikovaných na EZ USR a cez UIR/eFLCMSubscriptionMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/eflcm/eFLCMSubscribtionMessage/1.1" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/eflcm/eFLCMSubscribtionMessage/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eFLCMSubscriptionMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SubscribedGestor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SubscribedPublisher" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FormTemplates" type="tns:ArrayOfEFormTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfEFormTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EFormTemplate" nillable="true" type="tns:EFormTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EFormTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Publisher" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Gestor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="tns:EFormTemplateVersion" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PUBLISHED" />
            <xs:enumeration value="INVALIDATED" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Changed" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="RelatedDocumentChanged" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="MetaDataChanged" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EFormTemplateVersion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Major" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Minor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>