Modul eFORM/Integračný manuál eFORM/Asynchrónne služby - Rozhranie UIR a G2G/XML Schémy/Vstupné schémy/ChangeFormTemplateRelatedDocuments_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/eflcm/ChangeFormTemplateRelatedDocuments/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/eflcm/ChangeFormTemplateRelatedDocuments/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangeFormTemplateRelatedDocuments_Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Request" type="tns:EFLCMRequest" />
        <xs:element minOccurs="0" maxOccurs="1" name="FormTemplate" type="tns:FormTemplateID" />
        <xs:element minOccurs="0" maxOccurs="1" name="RelatedDocuments" type="tns:ArrayOfRelatedDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EFLCMRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Publisher" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Gestor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormTemplateID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="tns:EFormVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EFormVersion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Major" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Minor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRelatedDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" type="tns:RelatedDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MetaData" type="tns:RelatedDocumentMetaData" />
      <xs:element minOccurs="0" maxOccurs="1" name="Data" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedDocumentMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeFormTemplateRelatedDocuments_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FormTemplate" type="tns:FormTemplateID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>