Modul eFORM/Integračný manuál eFORM/WSDL služieb publikovaných na Externej zbernici/XSD ChangeSubscriberEndpointUrl/ChangeSubscriberEndpointUrl_OUT.XSD

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChangeSubscriberEndpointUrlRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSubscriberEndpointUrlRes" nillable="true" type="tns:ChangeSubscriberEndpointUrlRes" />
</xs:schema>