Modul eFORM/Integračný manuál eFORM/WSDL služieb publikovaných na Externej zbernici/XSD FindFormTemplates/FindFormTemplates_IN.XSD

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FindFormTemplatesReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="Criteria" nillable="true" type="tns:SearchCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindFormTemplatesReq" nillable="true" type="tns:FindFormTemplatesReq" />
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormTemplate" nillable="true" type="tns:FormTemplateID" />
      <xs:element minOccurs="0" name="FreeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gestor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:SearchFormTemplateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCriteria" nillable="true" type="tns:SearchCriteria" />
  <xs:complexType name="FormTemplateID">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="tns:EFormVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormTemplateID" nillable="true" type="tns:FormTemplateID" />
  <xs:complexType name="EFormVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EFormVersion" nillable="true" type="tns:EFormVersion" />
  <xs:simpleType name="SearchFormTemplateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="eForm" />
      <xs:enumeration value="teForm" />
      <xs:enumeration value="POSP" />
      <xs:enumeration value="NOTIFY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchFormTemplateType" nillable="true" type="tns:SearchFormTemplateType" />
</xs:schema>