Modul eFORM/Integračný manuál eFORM/Asynchrónne služby - Rozhranie UIR a G2G/XML Schémy/Výstupné schémy/eFLCMExceptionMessage__schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/eflcm/eFLCMExceptionMessage/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.gov.sk/eflcm/eFLCMExceptionMessage/1.0" elementFormDefault="qualified">
	<xs:element name="Exception">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ErrorCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ErrorDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>