Integračný manuál eFORM/WSDL služieb publikovaných na Externej zbernici/XSD ChangeSubscriberEndpointUrl/ChangeSubscriberEndpointUrl_IN.XSD

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChangeSubscriberEndpointUrlReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndpointUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscribedGestor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscribedPublisher" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSubscriberEndpointUrlReq" nillable="true" type="tns:ChangeSubscriberEndpointUrlReq" />
</xs:schema>