Integračný manuál eFORM/WSDL služieb publikovaných na Externej zbernici/XSD GetEmptyEForm/GetEmptyEForm_OUT.XSD

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:tns="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.gov.sk/ServiceBusServiceProvider/Ness/eFormProvider/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetEmptyEFormRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormTemplate" nillable="true" type="tns:FormTemplateID" />
      <xs:element minOccurs="0" name="RelatedDocument" nillable="true" type="tns:RelatedDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEmptyEFormRes" nillable="true" type="tns:GetEmptyEFormRes" />
  <xs:complexType name="FormTemplateID">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="tns:EFormVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormTemplateID" nillable="true" type="tns:FormTemplateID" />
  <xs:complexType name="EFormVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EFormVersion" nillable="true" type="tns:EFormVersion" />
  <xs:complexType name="RelatedDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MetaData" nillable="true" type="tns:RelatedDocumentMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedDocument" nillable="true" type="tns:RelatedDocument" />
  <xs:complexType name="RelatedDocumentMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedDocumentMetaData" nillable="true" type="tns:RelatedDocumentMetaData" />
</xs:schema>